/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.idea
/app/config/database.php
/public/node_modules
/public/app/bower_components
app/config/app.php
app/config/queue.php
app/config/database.php
app/views/registerblade